node_modules
build
dist
.cache
.git
.gitignore
Dockerfile
Dockerfile.dev
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
*.local
.env
.env.*.local
coverage
.idea
.vscode
*.swp
*.swo
**/Thumbs.db
**/*.DS_Store
